/** Everything is tweaked with CSS variables - don't make it harder for yourself **/
[data-md-color-scheme="beam"] {
  --md-default-bg-color: #1d1d1d;
  --md-default-fg-color: hsla(0,0%,100%,.6);
  --md-default-fg-color--light: hsla(0,0%,100%,.87);
  --md-default-fg-color--lighter: hsla(0,0%,100%,.87);

  --md-primary-fg-color: #226699;
  --md-primary-fg-color--light: #226699;
  --md-primary-fg-color--dark: #226699;
  --md-primary-bg-color: #fff;

  --md-accent-fg-color: #2f84c5; /** Our secondary color does some weird things... */
  --md-accent-bg-color: #fff;

  --md-code-bg-color: #2c2c2c;
  --md-code-fg-color: hsla(0,0%,100%,.87);
}

/*.md-typeset {
  font-size: 0.7rem;
}*/

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6,
.md-nav__title {
  color: var(--md-default-fg-color--lighter);
  font-weight: bold;
}

/*.md-typeset h2 {
  font-size: 1rem;
}
.md-typeset p {
  margin: 0.2rem 0;
}*/

.md-header {
  background-color: #226699;
}

.md-search__input {
  font-size: 0.65rem;
}

.md-nav__list {
  color: #b7b7b7;
}

.md-nav__link[data-md-state="blur"] {
  color: #b5b5b59e;
}

.md-footer {
  background-color: #131313de;
}

.md-footer-meta {
  background-color: #101010;
}
